* {
  box-sizing: border-box;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar {

}

#header-img {
  height: 50%; 
  margin-left: 20px;
}
